# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/openjdk:8-jdk
      
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      MAVEN_OPTS: -Xmx3200m
    
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache: 
          keys:
          - v1-dependencies-{{ checksum "pom.xml" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: 
          command: | 
            mvn dependency:go-offline
            sudo apt-get update
            sudo apt-get -y upgrade
            wget https://dl.google.com/go/go1.10.linux-amd64.tar.gz
            sudo tar -xvf go1.10.linux-amd64.tar.gz
            sudo mv go /usr/local

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}

      - run: mvn package -Dci-build=true

      - deploy:
          name: Deploy
          command: |
            mkdir ~/go            
            export GOPATH=~/go
            export GOROOT=/usr/local/go
            export PATH=$GOPATH/bin:$GOROOT/bin:$PATH
            go get github.com/tcnksm/ghr
            ghr -t $GITHUB_TOKEN -u $CIRCLE_PROJECT_USERNAME -r $CIRCLE_PROJECT_REPONAME -prerelease -b 'Nightly release - Use caution!' `echo "v0.3-nightly-$(git rev-parse --short=7 HEAD)"` ci/

      - store_artifacts:
          path: ci/